.ChangeRed{
    background-color: red;
}
.Changeblue{
    background-color: blue;
}
.Changepurple{
    background-color: purple;
}
.Changepink{
    background-color: pink;
}
.ChangeColor{
    width: 100%;
    height: 760px;
}